* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
a:visited{
   color: transparent;
}

.container {
    max-width: 1170px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
}

.header__button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.account {
    display: flex;
}

.home {
    padding: 5px;
}


.header__button a {
    text-decoration: none;
    font-size: 24px;
    padding: 5px 30px;
    color: #443020;
    font-weight: bold;
    font-family: 'Cambay', sans-serif;

}

.header__button a:hover {
    background-color: #f1d881;
}

.header {
    background-color: #d5921a;
    line-height: 70px;
}

.edit_profile {
    display: block;
    font-size: 24px;
    text-align: center;
}

.post_show__label {
    font-size: 32px;
    padding: 5px;
    font-family: fantasy;
    border: 2px #f45b31 solid;
    background-image: url("../img/bg-label.png");
    color: #000000;
}

.post_show__label > a:hover {
    color: antiquewhite;
}

.post_show {
    border: 3px sandybrown solid;
    margin: 10px 0;
    padding: 10px;
    background-image: url("../img/bg.png");
}

.post_show__text {
    font-size: 30px;
    margin: 4px 10px 10px;
    font-family: Ebrima, cursive;
}

.post_form {
    border: #f45b31 5px dashed;
    padding: 20px;
}

.post_form__label {
    font-size: 32px;
}

.post_form_submit {
    text-align: right;
}

.post_form_submit > input {
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.post_form_submit > input:hover {
    color: darkslateblue;
    background-color: white;
}

.post_form_textarea > textarea {
    border: black 3px;
    padding: 3px;
    font-size: 16px;
    width: 100%;
}