{% extends 'base.html' %}
{% import "form_field.html" as field %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sign in</h1>
        <form action="/sign_in" method="post" novalidate>
            {{ form.hidden_tag() }}

            {{ field.render_field(form.username) }}

            {{ field.render_field(form.email) }}

            {{ field.render_field(form.password) }}

            {{ field.render_field(form.password2) }}

            <p>{{ form.submit() }}</p>

        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}